$color-white:#fff;
$color-grey:#f7f7f7;
$color-green:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark: #28b585;
$color-black:rgba(0,0,0,0.2);
$color-blue:#1da1f2;

//size
$large:1024px;
$md:768px;
$sm:641px;
$xsm:480px;
